.cabecalho {
    margin-top: 50px;
    margin-bottom: 25px;
}

.tituloForm {
    padding: 1%;
    font-family: 'Segoe UI', Arial;
    font-style: normal;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.itensForm {
    margin-top: 10px;
    margin-bottom: 10px;
}